@model Photo

@{
}

<h1>Szczegóły zdjęcia: @Model.AuthorPseudonym</h1>

<div class="btn-holder mt-4">
    <a asp-action="Index" class="btn btn-primary">Wróć do strony głównej</a>
</div>
<div class="mt-5">
    <label asp-for="Date" class="fw-bold"></label>
    <p>@Model.Date</p>
        
    <label asp-for="Description" class="fw-bold"></label>
    <p>@Model.Description</p>
        
    <label asp-for="Cameras" class="fw-bold"></label>
    <p>@Model.CameraName</p>
        
    <label asp-for="Authors" class="fw-bold"></label>
    <p>@Model.AuthorPseudonym</p>
        
    <label asp-for="Resolution" class="fw-bold"></label>
    <p>@Model.Resolution</p>
        
    <label asp-for="AspectRatio" class="fw-bold"></label>
    <p>@Model.AspectRatio</p>
    
    <label asp-for="Priority" class="fw-bold"></label>
    <p>@Model.Priority</p>
</div>