@model Photo

@{
}

<h1>Szczegóły zdjęcia: @Model.AuthorPseudonym</h1>

<a asp-action="Index" class="btn btn-primary">Wróć do strony głównej</a>
<br><br><br>
<div>
    <label asp-for="Date" class="fw-bold"></label>
    <p>@Model.Date</p>
        
    <label asp-for="Description" class="fw-bold"></label>
    <p>@Model.Description</p>
        
    <label asp-for="Camera" class="fw-bold"></label>
    <p>@Model.Camera</p>
        
    <label asp-for="Authors" class="fw-bold"></label>
    <p>@Model.AuthorPseudonym</p>
        
    <label asp-for="Resolution" class="fw-bold"></label>
    <p>@Model.Resolution</p>
        
    <label asp-for="AspectRatio" class="fw-bold"></label>
    <p>@Model.AspectRatio</p>
    
    <label asp-for="Priority" class="fw-bold"></label>
    <p>@Model.Priority</p>
    
    <label asp-for="OrganizationName" class="fw-bold"></label>
    <p>@Model.OrganizationName</p>
</div>