@model List<Photo>

@{
}

<h1>Lista zdjęć</h1>
<a class="btn btn-primary" asp-controller="Photo" asp-action="Create">Dodaj zdjęcie</a>
<a class="btn btn-primary" asp-controller="Photo" asp-action="CreateApi">Dodaj zdjęcie (z API)</a>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].AuthorPseudonym)</th>
        <th>@Html.DisplayNameFor(model => model[0].Camera)</th>
        <th>@Html.DisplayNameFor(model => model[0].Priority)</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach(Photo photo in @Model)
    {
        <tr>
            <td>@photo.AuthorPseudonym</td>
            <td>@photo.Camera</td>
            <td>@photo.Priority</td>
            <td>
                <a asp-action="Edit" asp-route-id=@photo.Id>Edit</a>
                <a asp-action="Details" asp-route-id=@photo.Id>Details</a>
                <a asp-action="Delete" asp-route-id=@photo.Id>Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>