@model List<Photo>
@using Laboratorium3___App.Models
@{
    
}

<h1>Lista zdjęć</h1>
<div class="btn-wrapper">
<a class="btn btn-primary mt-3" asp-controller="Photo" asp-action="Create">Dodaj zdjęcie</a>
<a class="btn btn-primary mt-3" asp-controller="Photo" asp-action="CreateApi">Dodaj zdjęcie (z API)</a>
</div>
<table class="table mt-4">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].AuthorPseudonym)</th>
        <th>@Html.DisplayNameFor(model => model[0].CameraName)</th>
        <th>@Html.DisplayNameFor(model => model[0].Priority)</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach(Photo photo in @Model)
    {
        <tr>
            <td>@photo.AuthorPseudonym</td>
            <td>@photo.CameraName</td>
            <td>@(((Priority)photo.Priority).GetDisplayName())</td>
            <td>
                <a asp-action="Edit" asp-route-id=@photo.Id>Edit</a>
                <a asp-action="Details" asp-route-id=@photo.Id>Details</a>
                <a asp-action="Delete" asp-route-id=@photo.Id>Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>